{% if user.is_authenticated %}
<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/media/logo_images/logoblue.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Calculadora Salarial
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'dashboard-index' %}">Home</a>
                
            </div>
            <div class="ms-auto px-3">
                <div class="rounded">
                    <img src="/media/default.png" alt="" width="40" height="40">
                    <span class="px-2 fs-6 text-white">{{ user.username }}</span>
                    <a href="{% url 'user-logout' %}" class="btn btn-danger btn-sm"><i class="fas fa-sign-out-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
</nav>
  {% endif %}